$btn-color: #ff4043;

.btn1 {
  width: 100px;
  background-color: $btn-color;
  border: none;
  border-radius: 50px;
  height: 30px;
}

.btn2 {
  width: 100px;
  background-color: $btn-color;
  border: none;
  border-radius: 50px;
  height: 30px;
}
